@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
  }

.margin {
    margin: 15px
}

.center {
    text-align: center;
}

.error {
    text-align: center;
    background-color: #000;
    color: #fff
}

@font-face {
    font-family: ahsing;
    src: url(../src/fonts/Ahsing/Ahsing-Regular.otf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../src/fonts/Roboto/Roboto-Regular.ttf);
}

.ahsing {
    font-family: ahsing;
}

.Footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}