.navbar-nav .nav-item .nav-link:hover{
    color: black;
    background-color: #f0f0f0;
}

.navbar-custom {
    background-color: #303030;
}


.center {
    text-align: center;
}

.margin {
    margin: 15px
}