@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #a9a9a9a9;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

h1 {
  font-size: 3.2em;
}

.text-right {
  display:block;
  float: right;
  padding: 0;
  margin: 0;
}